.git
.venv
.env
**/.env
__pycache__
**/__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache
.ipynb_checkpoints
.DS_Store

data
evaluation/results
sythetic_tests
docs
rag_construction
rag_construction_pg
scripts
tests
